.border {
  border-style: $border-style;
  border-width: $border-width;
}

.border-top {
  border-top-style: $border-style;
  border-top-width: $border-width;
}

.border-right {
  border-right-style: $border-style;
  border-right-width: $border-width;
}

.border-bottom {
  border-bottom-style: $border-style;
  border-bottom-width: $border-width;
}

.border-left {
  border-left-style: $border-style;
  border-left-width: $border-width;
}

.border-none { border: 0; }

.rounded { border-radius: $border-radius; }
.ellipse { border-radius: 50%; }
.pill { background-clip: padding-box; border-radius: $border-pill; }

.rounded-top { border-radius: $border-radius $border-radius 0 0; }
.rounded-right { border-radius: 0 $border-radius $border-radius 0; }
.rounded-bottom { border-radius: 0 0 $border-radius $border-radius; }
.rounded-left { border-radius: $border-radius 0 0 $border-radius; }

.not-rounded { border-radius: 0; }
